@model NguyenTanDanh.SachOnline.Models.CHUDE
@{
    ViewBag.Title = "Sửa chủ đề";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa Chủ đề</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MaCD)

    <div class="form-group">
        @Html.LabelFor(m => m.TenChuDe)
        @Html.TextBoxFor(m => m.TenChuDe, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
}
