@model NguyenTanDanh.SachOnline.Models.SACH
@{
    ViewBag.Title = "Thêm sách mới";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">📚 THÊM SÁCH MỚI</h2>
<hr />

@using (Html.BeginForm("Create", "Sach", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <!-- Tên sách -->
        <div class="form-group">
            @Html.LabelFor(m => m.TenSach, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TenSach, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TenSach)
            </div>
        </div>

        <!-- Mô tả -->
        <div class="form-group">
            @Html.LabelFor(m => m.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(m => m.MoTa, new { @class = "form-control", rows = 4 })
            </div>
        </div>

        <!-- Ảnh bìa -->
        <div class="form-group">
            @Html.Label("Ảnh bìa", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="file" name="fileUpload" class="form-control-file" />
            </div>
        </div>

        <!-- Ảnh phụ -->
        <div class="form-group">
            @Html.Label("Ảnh phụ (nhiều ảnh):", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <input type="file" name="anhPhu[]" multiple class="form-control-file" />
                <small class="text-muted">Bạn có thể chọn nhiều ảnh cùng lúc</small>
            </div>
        </div>

        <!-- Chủ đề -->
        <div class="form-group">
            @Html.LabelFor(m => m.MaCD, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.MaCD, ViewBag.MaCD as SelectList, "--- Chọn chủ đề ---", new { @class = "form-control" })
            </div>
        </div>

        <!-- NXB -->
        <div class="form-group">
            @Html.LabelFor(m => m.MaNXB, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.MaNXB, ViewBag.MaNXB as SelectList, "--- Chọn NXB ---", new { @class = "form-control" })
            </div>
        </div>

        <!-- Khuyến mãi -->
        <div class="form-group">
            @Html.LabelFor(m => m.MaKM, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("MaKM", ViewBag.MaKM as SelectList, "Không áp dụng", new { @class = "form-control" })
            </div>
        </div>

        <!-- Tác giả -->
        <div class="form-group">
            @Html.LabelFor(m => m.TacGia, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TacGia, new { @class = "form-control" })
            </div>
        </div>

        <!-- Số lượng -->
        <div class="form-group">
            @Html.LabelFor(m => m.SoLuongBan, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.SoLuongBan, new { @class = "form-control", type = "number", min = 0 })
            </div>
        </div>

        <!-- Nút -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="➕ Thêm sách" class="btn btn-primary" />
                @Html.ActionLink("❮ Quay lại", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
}
