@model NguyenTanDanh.SachOnline.Models.KHACHHANG
@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Chi tiết khách hàng</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Họ tên</dt>
        <dd>@Model.HoTen</dd>
        <dt>Địa chỉ</dt>
        <dd>@Model.DiaChi</dd>
        <dt>Điện thoại</dt>
        <dd>@Model.DienThoai</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Tài khoản</dt>
        <dd>@Model.TaiKhoan</dd>
        <dt>Loại tài khoản</dt>
        <dd>@Model.LoaiTaiKhoan</dd>
    </dl>
</div>
<p>@Html.ActionLink("Quay lại", "Index")</p>

